.content {
  .content-title{
    @apply text-3xl font-black text-center my-6 md:px-12;
  }
  .form {
    @apply flex flex-col;
    .form-group{
      .form-label {
        @apply py-2 font-medium text-lg;
      }
      .form-input {
        @apply w-full py-2 px-4 rounded-xl border ;
      }
    }
    .form-btn {
      @apply text-center;
      .btn {
        @apply border rounded-full mt-6 py-2 px-6 bg-orange-500 text-white;
        &:hover {
          opacity: 0.9;
        }
      }

    }
  }
  .content-other {
      @apply text-center font-medium text-xl mt-6 flex justify-center items-center mb-3;
      &:after{
        @apply  border-b p-1 px-10 ml-2 border-gray-400;
        content: '';
      }
       &:before{
      @apply  border-b p-1 px-10 mr-2 border-gray-400;
      content: '';
      }
  }
  .btn-group {
    @apply flex items-center py-2 border rounded-full mt-1 cursor-pointer;
    transition: all .25s linear;
    .google-icon {
      @apply w-6  rounded-full;
    }
    .facebook-icon {
      @apply text-blue-700
    }
    img,i {
      @apply ml-4 mr-3;
    }
    h1 {
      @apply text-center
    }
    &:hover {
      @apply bg-gray-300;
    }
  }
  .convert {
    @apply text-center text-base mt-6;
    .convert-register {
      @apply text-red-600 font-bold;
    }
  }
}
